In [2]:
print('Balakrishna')

Balakrishna

In [3]:
x=10
y='hello'
print(x)
print(y)

10
hello

In [4]:
print(x,y)

10 hello

In [5]:
#the value of x is =10
print('the value of x and y =', x, y)

the value of x and y = 10 hello

In [7]:
# the value of x is 10 and y is hello
print('the value of x is', x, 'and y is', y)

the value of x is 10 and y is hello

In [8]:
print(type(x))

<class 'int'>

In [9]:
z=10,5
print(type(z))

<class 'tuple'>

In [11]:
t=10.5
print(t)

10.5